body {
  margin: 12px auto;
  padding: 0;
  font-family: 'Courier New', monospace;
  background-color:rgb(182, 181, 181);

}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px;
  background-color:rgb(182, 181, 181);
}
.logo{
  display: inline-block;
  position: absolute;
  left: 30px;
  top: 12px;
  cursor: pointer;
}
header {
  padding: 10px 20px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(182, 181, 181);
  
}
nav ul {
  display: block;
  list-style-type: none;
  margin: 7px auto;
  width: 90%;
  padding: 10;
  text-align: center;
  
}

nav ul li {
  display: inline;
  margin-right: 10px;
  font-size: medium;
}

nav ul li a {
  color: black;
  text-decoration: none;
  
}

nav ul li a:hover, .nav ul li a:active {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

#hero-section {
  background-color:rgb(182, 181, 181);
  padding: 10px 0;
  text-align: center;
}

#hero-section h1 {
  margin-top: 0;
  font-size: 40px;
}

.btn{
  cursor: pointer;
  background-color:rgb(182, 181, 181);
}
.btn:hover {
  background-color: white;
}
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 1px;
}

.form-group input,
.form-group textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.form-group input[type="submit"] {
  background-color: black;
  color: white;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: black;
}